
body {
  --font-size: 10pt;
  --padding: 0ch;
  --right-width: 66ch;
  --left-width: 20ch;
  --full-width: calc(var(--left-width) + var(--padding) + var(--right-width));
  font-family: Georgia;
  font-size: var(--font-size);
  margin: auto;
}

.debug div, .debug table {
  border: 1px solid red;
}

header, hr {
  margin-left: auto;
  margin-right: auto;
  width: var(--full-width);
}

hr {
    border: none;
    border-top: 1pt solid #333;
    color: #333;
}

div.wrapper {
  margin: auto;
  width: var(--full-width);
  display: flex;
}

div.box1 {
  flex: 3;
}

div.box2 {
  flex: 7;
}

section {
  position: relative;
}

section.debug > section {
  border: 1px solid blue;
}

h1 {
  font-size: calc(var(--font-size) + 2pt);
}

.debug h2 {
  border: 1px solid black;
}

h1, p {
  margin-block-start: 0pt;
  margin-block-end: 0pt;
}

h2 {
  text-transform: capitalize;
  position: absolute;
  margin: 0pt;
  left: calc(-2ch - var(--left-width) + var(--padding));
  bottom: auto;
  font-size: inherit;
  width: var(--left-width);
  height: var(--font-size);
  padding: 2pt;
}

table {
  table-layout: auto;
  width: 100%;
}

ul {
  margin-block-start: 0px;
}

li {
  margin-block-start: 3pt;
}

.level2:not(.no-table-leader) td:nth-of-type(1) {
  font-weight: bold;
}

.level2:not(.no-table-leader) td:nth-of-type(1)::after {
  content: ",";
  font-weight: normal;
}

.level2:not(.no-table-leader) td:not(:nth-last-child(2)) {
  width: 1%;
  white-space: nowrap;
}

.level2:not(.no-table-leader) td:nth-last-child(2)::before {
  /* user-select: none; */
  content:
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ;
  text-align: justify;
  overflow: hidden;
  height: calc(var(--font-size) + 1pt);
  display: block;
  white-space: break-spaces;
}

.resume-footer {
  margin-top: 4pt;
  font-size: x-small;
  text-align: center;
}
