
* {
  --font-size: 10pt;
  --font-size-position: calc(var(--font-size) + 1pt);

  --gap-horizontal: 0ch;
  --gap-vertical: 6pt;
  --gap-list-vertical: 4pt;

  --right-width: 66ch;
  --left-width: 20ch;
  --full-width: calc(var(--left-width) + var(--gap-horizontal) + var(--right-width));

  --rule-color: #333;
  --rule-style: solid;
  --rule-width: 0.5pt;
  --rule: var(--rule-width) var(--rule-style) var(--rule-color);

  --debug-border: 1px solid blue;

  margin: 0;
  padding: 0;
  font-family: Georgia;
  /* font-family: "Officina Sans ITC Pro"; */
  font-size: var(--font-size);

  /* counter-reset: pageNumber 1; */
}

body {
  margin: auto;
}

code {
  font-family: "Andale Mono";
}

.debug div, .debug table {
  border: 1px solid red;
}

header, hr {
  margin-left: auto;
  margin-right: auto;
  width: var(--full-width);
}

hr {
  border: none;
  border-top: var(--rule);
  color: var(--rule-color);
}

.omit {
  visibility: collapse;
}

body > * {
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--gap-vertical);
  padding-bottom: var(--gap-vertical);
  width: var(--full-width);
}

body > :not(:last-child) {
  border-bottom: var(--rule);
}

section.level3 {
  padding-top: var(--gap-vertical);
  padding-bottom: var(--gap-vertical);
  break-inside: avoid;
}

section.debug > section {
  border: var(--debug-border);
}

.title, header td {
  font-size: calc(var(--font-size) + 2pt);
  font-weight: 600;
}

.debug h2 {
  border: 1px solid black;
}

span.skill-interviews {
  font-weight: 600;
}

h1, p {
  margin-block-start: 0pt;
  margin-block-end: 0pt;
}

h2 {
  text-transform: uppercase;
  font-size: inherit;
}

span.todo {
  padding: 3px;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
}

span.todo::before {
  content:
  "todo!"
  ;
}

table {
  font-size: calc(var(--font-size-position));
  margin-bottom: var(--gap-vertical);
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

/*  ____           _ _   _                 */
/* |  _ \ ___  ___(_) |_(_) ___  _ __  ___ */
/* | |_) / _ \/ __| | __| |/ _ \| '_ \/ __|*/
/* |  __/ (_) \__ \ | |_| | (_) | | | \__ \*/
/* |_|   \___/|___/_|\__|_|\___/|_| |_|___/*/
/*                                         */

.table-leader .level3 td {
  font-size: var(--font-size-position);
  white-space: nowrap;
}

.table-leader .level3 td:not(:first-child) {
  padding-left: 2pt;
}

.table-leader .level3 td:not(:last-child) {
  padding-right: 2pt;
}

.table-leader .level3 td:nth-of-type(1) {
  font-weight: bold;
}

.table-leader .level3 td:nth-of-type(1)::after {
  content: ",";
}

.table-leader .level3 td:nth-of-type(1)::after {
  font-weight: normal;
}

.table-leader .level3 td:nth-last-child(2)::before {
  content:
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ;
  text-align: justify;
  overflow: hidden;
  height: calc(var(--font-size-position) + 1pt);
  display: block;
  white-space: break-spaces;
}

footer {
  font-size: x-small;
  text-align: center;
}

/*  _     _     _       */
/* | |   (_)___| |_ ___ */
/* | |   | / __| __/ __|*/
/* | |___| \__ \ |_\__ \*/
/* |_____|_|___/\__|___/*/
/*                      */

ul {
  /* margin-block-start: 0px; */
  padding-left: 20pt;
}

li {
  break-inside: avoid;
  margin-block-end: var(--gap-list-vertical);
}

li > ul {
  margin-block-start: var(--gap-list-vertical);
}

/* ul that have more than one child */
section.columns-two.level3 > ul, .columns-two .level3 > ul {
  column-gap: 14pt;
  columns: 2;
}
